<div id="wrapper">
  <ul class="nav nav-pills nav-stacked">
    <li role="presentation" class="active"><a href="#">Quản lý khách hàng<i class="fa fa-angle-right"></i></a>
<!--      <ul></ul>-->
    </li>
    <li role="presentation"><a href="#">Quản lý đã chức năng</a></li>
    <li role="presentation"><a href="#">Quản lý tài sản</a></li>
    <li role="presentation"><a href="#">Quản lý nhân viên</a></li>
    <li role="presentation"><a href="#">Quản lý thu chi</a></li>
    <li role="presentation"><a href="#">Quản lý nguồn vốn</a></li>
    <li role="presentation"><a href="#">Thống kê</a></li>
    <li role="presentation"><a href="#">Báo cáo</a></li>
  </ul>
</div>
<router-outlet></router-outlet>
